$sizing-1: 0.125rem;
$sizing-2: 0.25rem;
$sizing-3: 0.375rem;
$sizing-4: 0.5rem;
$sizing-5: 0.625rem;
$sizing-6: 0.75rem;
$sizing-7: 0.875rem;
$sizing-8: 1rem;
$sizing-9: 1.25rem;
$sizing-10: 1.5rem;
$sizing-11: 1.75rem;
$sizing-12: 2rem;
$sizing-13: 2.25rem;
$sizing-14: 2.5rem;
$sizing-15: 2.75rem;
$sizing-16: 3rem;
$sizing-17: 3.5rem;
$sizing-18: 4rem;
$sizing-19: 5rem;
$sizing-20: 6rem;
$sizing-21: 7rem;
$sizing-22: 8rem;
$sizing-23: 9rem;
$sizing-24: 10rem;
$sizing-25: 11rem;
$sizing-26: 12rem;
$sizing-27: 13rem;
$sizing-28: 14rem;
$sizing-29: 15rem;
$sizing-30: 16rem;
$sizing-31: 17rem;
$sizing-32: 18rem;
$sizing-33: 20rem;
$sizing-34: 24rem;
$sizing-35: 28rem;
$sizing-36: 32rem;
$sizing-37: 36rem;
$sizing-38: 40rem;
$sizing-39: 42rem;
$sizing-40: 44rem;
