$spacing-40: 50rem;
$spacing-39: 44rem;
$spacing-38: 40rem;
$spacing-37: 34rem;
$spacing-36: 32rem;
$spacing-35: 30rem;
$spacing-34: 28rem;
$spacing-33: 24rem;
$spacing-32: 20rem;
$spacing-31: 18rem;
$spacing-30: 16rem;
$spacing-29: 15rem;
$spacing-28: 14rem;
$spacing-27: 13rem;
$spacing-26: 12rem;
$spacing-25: 11rem;
$spacing-24: 10rem;
$spacing-23: 9rem;
$spacing-22: 8rem;
$spacing-21: 7rem;
$spacing-20: 6rem;
$spacing-19: 5rem;
$spacing-18: 4rem;
$spacing-17: 3.5rem;
$spacing-16: 3rem;
$spacing-15: 2.75rem;
$spacing-14: 2.5rem;
$spacing-13: 2.25rem;
$spacing-12: 2rem;
$spacing-11: 1.75rem;
$spacing-10: 1.5rem;
$spacing-9: 1.25rem;
$spacing-8: 1rem;
$spacing-7: 0.875rem;
$spacing-6: 0.75rem;
$spacing-5: 0.625rem;
$spacing-4: 0.5rem;
$spacing-3: 0.375rem;
$spacing-2: 0.25rem;
$spacing-1: 0.125rem;
