// Utils for width & height

.width-none {
  width: 0;
}
.width-1 {
  width: $sizing-1;
}
.width-2 {
  width: $sizing-2;
}
.width-3 {
  width: $sizing-3;
}
.width-4 {
  width: $sizing-4;
}
.width-5 {
  width: $sizing-5;
}
.width-6 {
  width: $sizing-6;
}
.width-7 {
  width: $sizing-7;
}
.width-8 {
  width: $sizing-8;
}
.width-9 {
  width: $sizing-9;
}
.width-10 {
  width: $sizing-10;
}
.width-11 {
  width: $sizing-11;
}
.width-12 {
  width: $sizing-12;
}
.width-13 {
  width: $sizing-13;
}
.width-14 {
  width: $sizing-14;
}
.width-15 {
  width: $sizing-15;
}
.width-16 {
  width: $sizing-16;
}
.width-17 {
  width: $sizing-17;
}
.width-18 {
  width: $sizing-18;
}
.width-19 {
  width: $sizing-19;
}
.width-20 {
  width: $sizing-20;
}
.width-21 {
  width: $sizing-21;
}
.width-22 {
  width: $sizing-22;
}
.width-23 {
  width: $sizing-23;
}
.width-24 {
  width: $sizing-24;
}
.width-25 {
  width: $sizing-25;
}
.width-26 {
  width: $sizing-26;
}
.width-27 {
  width: $sizing-27;
}
.width-28 {
  width: $sizing-28;
}
.width-29 {
  width: $sizing-29;
}
.width-30 {
  width: $sizing-30;
}
.width-31 {
  width: $sizing-31;
}
.width-32 {
  width: $sizing-32;
}
.width-33 {
  width: $sizing-33;
}
.width-34 {
  width: $sizing-34;
}
.width-full {
  width: 100%;
}
.width-screen {
  width: 100vw;
}

.height-none {
  height: 0;
}
.height-1 {
  height: $sizing-1;
}
.height-2 {
  height: $sizing-2;
}
.height-3 {
  height: $sizing-3;
}
.height-4 {
  height: $sizing-4;
}
.height-5 {
  height: $sizing-5;
}
.height-6 {
  height: $sizing-6;
}
.height-7 {
  height: $sizing-7;
}
.height-8 {
  height: $sizing-8;
}
.height-9 {
  height: $sizing-9;
}
.height-10 {
  height: $sizing-10;
}
.height-11 {
  height: $sizing-11;
}
.height-12 {
  height: $sizing-12;
}
.height-13 {
  height: $sizing-13;
}
.height-14 {
  height: $sizing-14;
}
.height-15 {
  height: $sizing-15;
}
.height-16 {
  height: $sizing-16;
}
.height-17 {
  height: $sizing-17;
}
.height-18 {
  height: $sizing-18;
}
.height-19 {
  height: $sizing-19;
}
.height-20 {
  height: $sizing-20;
}
.height-21 {
  height: $sizing-21;
}
.height-22 {
  height: $sizing-22;
}
.height-23 {
  height: $sizing-23;
}
.height-24 {
  height: $sizing-24;
}
.height-25 {
  height: $sizing-25;
}
.height-26 {
  height: $sizing-26;
}
.height-27 {
  height: $sizing-27;
}
.height-28 {
  height: $sizing-28;
}
.height-29 {
  height: $sizing-29;
}
.height-30 {
  height: $sizing-30;
}
.height-31 {
  height: $sizing-31;
}
.height-32 {
  height: $sizing-32;
}
.height-33 {
  height: $sizing-33;
}
.height-34 {
  height: $sizing-34;
}
.height-full {
  height: 100%;
}
.height-screen {
  height: 100vh;
}
