// Utils for Flex & Grid
.gap-none {
  gap: 0;
}
.gap-xs {
  gap: $spacing-3;
}
.gap-sm {
  gap: $spacing-5;
}
.gap-md {
  gap: $spacing-6;
}
.gap-lg {
  gap: $spacing-8;
}
.gap-xl {
  gap: $spacing-9;
}
.gap-2xl {
  gap: $spacing-12;
}
