// Utils for colors
.bg-color-white {
  background-color: $color-base-white;
}
.bg-color-black {
  background-color: $color-base-black;
}
.bg-color-gray {
  background-color: $color-gray-500;
}
.bg-color-gray-light {
  background-color: $color-gray-200;
}
.bg-color-gray-dark {
  background-color: $color-gray-900;
}
.bg-color-primary {
  background-color: $color-blue-500;
}
.bg-color-primary-light {
  background-color: $color-blue-200;
}
.bg-color-primary-dark {
  background-color: $color-blue-900;
}
.bg-color-secondary {
  background-color: $color-rose-500;
}
.bg-color-secondary-light {
  background-color: $color-rose-200;
}
.bg-color-secondary-dark {
  background-color: $color-rose-900;
}

.color-white {
  color: $color-base-white;
}
.color-black {
  color: $color-base-black;
}
.color-gray {
  color: $color-gray-500;
}
.color-gray-light {
  color: $color-gray-200;
}
.color-gray-dark {
  color: $color-gray-900;
}
.color-primary {
  color: $color-blue-500;
}
.color-primary-light {
  color: $color-blue-200;
}
.color-primary-dark {
  color: $color-blue-900;
}
.color-secondary {
  color: $color-rose-500;
}
.color-secondary-light {
  color: $color-rose-200;
}
.color-secondary-dark {
  color: $color-rose-900;
}
