$color-primary: $color-violet-700;
$color-secondary: $color-violet-100;
$border-radius-theme: $border-radius-5;
$border-radius-theme-cta: 9999px;
$box-shadow-theme: $box-shadow-5;
$box-shadow-theme-cta: 0 10px 15px -3px rgba($color-primary, 0.7),
  0 4px 6px -4px rgba($color-primary, 0.7);

// $casual-color-primary: $color-violet-700;
// $casual-color-secondary: $color-violet-100;
// $casual-border-radius-theme: $border-radius-5;
// $casual-border-radius-theme-cta: 9999px;
// $casual-box-shadow-theme: $box-shadow-5;
// $casual-box-shadow-theme-cta: 0 10px 15px -3px rgba($casual-color-primary, 0.7),
//   0 4px 6px -4px rgba($casual-color-primary, 0.7);
