.eeveelution {
  padding: $spacing-16;

  &__container {
    width: 90rem;
    margin: 0 auto;
    // background-color: $color-gray-800;
    padding: $spacing-18;
    @include themify($themes) {
      border-radius: themed(borderRadiusTheme);
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;

    &:not(:last-child) {
      margin-bottom: $spacing-16;
    }
  }
}
