// $color-primary: $color-blue-700;
// $color-secondary: $color-gray-200;
// $border-radius-theme: 0;
// $border-radius-theme-cta: 0;
// $box-shadow-theme: 0;
// $box-shadow-theme-cta: 0;

$business-color-primary: $color-blue-700;
$business-color-secondary: $color-gray-200;
$business-border-radius-theme: 0;
$business-border-radius-theme-cta: 0;
$business-box-shadow-theme: 0;
$business-box-shadow-theme-cta: 0;
