*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%;
  font-size: 80%;
}

body {
  font-family: $font-family-1;
  font-weight: 400;
  line-height: $line-height-unitless-4;
  background-color: $color-neutral-200;
}
